@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --gray1: hsl(300, 20.0%, 99.0%);
  --gray2: hsl(300, 7.7%, 97.5%);
  --gray3: hsl(294, 5.5%, 95.3%);
  --gray4: hsl(289, 4.7%, 93.3%);
  --gray5: hsl(283, 4.4%, 91.3%);
  --gray6: hsl(278, 4.1%, 89.1%);
  --gray7: hsl(271, 3.9%, 86.3%);
  --gray8: hsl(255, 3.7%, 78.8%);
  --gray9: hsl(252, 4.0%, 57.3%);
  --gray10: hsl(253, 3.5%, 53.5%);
  --gray11: hsl(252, 4.0%, 44.8%);
  --gray12: hsl(260, 25.0%, 11.0%);

  --indigo1: hsl(225, 60.0%, 99.4%);
  --indigo2: hsl(223, 100%, 98.6%);
  --indigo3: hsl(223, 98.4%, 97.1%);
  --indigo4: hsl(223, 92.9%, 95.0%);
  --indigo5: hsl(224, 87.1%, 92.0%);
  --indigo6: hsl(224, 81.9%, 87.8%);
  --indigo7: hsl(225, 77.4%, 82.1%);
  --indigo8: hsl(226, 75.4%, 74.5%);
  --indigo9: hsl(226, 70.0%, 55.5%);
  --indigo10: hsl(226, 58.6%, 51.3%);
  --indigo11: hsl(226, 55.0%, 45.0%);
  --indigo12: hsl(226, 62.0%, 17.0%);

  --crimson1: hsl(332, 100%, 99.4%);
  --crimson2: hsl(330, 100%, 98.4%);
  --crimson3: hsl(331, 85.6%, 96.6%);
  --crimson4: hsl(331, 78.1%, 94.2%);
  --crimson5: hsl(332, 72.1%, 91.1%);
  --crimson6: hsl(333, 67.0%, 86.7%);
  --crimson7: hsl(335, 63.5%, 80.4%);
  --crimson8: hsl(336, 62.3%, 72.9%);
  --crimson9: hsl(336, 80.0%, 57.8%);
  --crimson10: hsl(336, 73.7%, 53.5%);
  --crimson11: hsl(336, 75.0%, 47.2%);
  --crimson12: hsl(340, 65.0%, 14.5%);
}